@font-face {
  font-family: 'BlockBerthold';
  src: url('BlockBE-Condensed.woff2') format('woff2'),
    url('BlockBE-Condensed.woff') format('woff'),
    url('BlockBE-Condensed.ttf') format('truetype'),
    url('BlockBE-Condensed.svg#BlockBE-Condensed') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Knockout-Bold-Texto';
  src: url('Knockout-HTF49-Liteweight.woff2') format('woff2'),
    url('Knockout-HTF49-Liteweight.woff') format('woff'),
    url('Knockout-HTF49-Liteweight.ttf') format('truetype'),
    url('Knockout-HTF49-Liteweight.svg#Knockout-HTF49-Liteweight') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Knockout-Regular';
  src: url('Knockout-HTF28-JuniorFeatherwt.woff2') format('woff2'),
    url('Knockout-HTF28-JuniorFeatherwt.woff') format('woff'),
    url('Knockout-HTF28-JuniorFeatherwt.ttf') format('truetype'),
    url('Knockout-HTF28-JuniorFeatherwt.svg#Knockout-HTF28-JuniorFeatherwt')
      format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Knockout-Regular-Texto';
  src: url('Knockout-HTF29-JuniorLiteweight.woff2') format('woff2'),
    url('Knockout-HTF29-JuniorLiteweight.woff') format('woff'),
    url('Knockout-HTF29-JuniorLiteweight.ttf') format('truetype'),
    url('Knockout-HTF29-JuniorLiteweight.svg#Knockout-HTF29-JuniorLiteweight')
      format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Knockout-Bold';
  src: url('Knockout-HTF48-Featherweight.woff2') format('woff2'),
    url('Knockout-HTF48-Featherweight.woff') format('woff'),
    url('Knockout-HTF48-Featherweight.ttf') format('truetype'),
    url('Knockout-HTF48-Featherweight.svg#Knockout-HTF48-Featherweight')
      format('svg');
  font-weight: 400;
  font-style: normal;
}
